/*------------*/
/* Base Rules */
/*------------*/

html, form { margin: 0; padding: 0; }

body
{
	padding: 0;
	margin: 0;
	background-color: white;
}

input[type=text]
{
	border: 1px solid #999;
}

a { color: #093; }
a:hover {color: #03C; }

/* TODO: style select/option elements, buttons */

input[type=button]
{
	background-color: #9999FF;
	border: solid 2px #330066;
	padding: 10px;
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
}

/*--------------*/
/* Layout Rules */
/*--------------*/

#header
{
	padding: 10px 0;
	font-family: 'Lobster Two', cursive;
	font-weight: normal;
	text-align: center;
}

#main-content
{
	max-width: 800px;
	margin: auto;
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
}

.l-pattern-input
{
	padding: 10px 0;
}

.l-pattern-output
{
	padding: 10px 0;
}


/*--------------*/
/* Module Rules */
/*--------------*/

.pattern-input-variable,
.pattern-input-instruction,
.pattern-output-instruction
{
	padding: 10px 0;
}


/*-------------*/
/* State Rules */
/*-------------*/

.is-hidden { display: none; }